body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.header {
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 30px;
}
.menu {
    background-color: #5e5858;
    padding: 15px;
    text-align: center;
}


.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(129, 119, 119);
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #333;
    color: white;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}